<ng-container *ngFor="let el of [1, 2, 3, 4, 5]" class="pokemon">

  <div class="card">
    <mat-card class="example-card">
      <div class="center-card">
        <mat-card-header>
          <mat-card-title>Xatu</mat-card-title>
          <mat-card-subtitle>Flying</mat-card-subtitle>
        </mat-card-header>
      </div>
      <img mat-card-image src="" alt="">
      <mat-card-content>
        <div class="points">
          <div>PV</div>
          <div>45</div>
        </div>
        <div class="points">
          <div>Défense</div>
          <div>45</div>
        </div>
        <div class="points">
          <div>Attaque</div>
          <div>70</div>
        </div>
        <div class="points">
          <div>Vitesse</div>
          <div>65</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</ng-container>


