<app-nav-bar></app-nav-bar>

<div ng-app="myApp" ng-controller="myCtrl">

<div class="container-fluid mt-3">
  <div class="input-group mb-3">
    <form (submit)="rebuildCards()">
      <div class="input-group-prepend">
        <span class="input-group-text">Min Attaque</span>
      </div>
      <input type="number" class="form-control" [(ngModel)]="attaqueLimit" id="attack" name="minattack" value="minattack" >
    </form>
  </div>
</div>

<div class="container mt-5">
  <div *ngIf="">
    <app-pokemon-card *ngFor="let card of cards" id="card{{card}}" [id_pk]="card">
      <!-- <div *ngIf="card."></div> -->
    </app-pokemon-card>
  </div>
  <app-pokemon-card *ngFor="let card of cards" id="card{{card}}" [id_pk]="card">
  </app-pokemon-card>
</div>

