.pokemon_card {
    width: 160px;
    border: solid 2px #000;
    padding: 10px;
}

.name{
    text-transform: capitalize;
}

.stats > div {
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}
