<div class="pokemon_card" >
    <button *ngIf="isStore" (click)="deletePokemonFromDeck()">X</button>
    <div class="name text-center">{{name}}</div>
    <div class="name text-center">{{type}}</div>
    <div class="image text-center"><img [src]="image"/></div>
    <div class="stats">
        <div class="PV">
            <div class="attribut">PV</div>
            <div class="value">{{pv}}</div>
        </div>
        <div class="Défense">
            <div class="attribut">Défense</div>
            <div class="value">{{defense}}</div>
        </div>
        <div class="PV">
            <div class="attribut">Attaque</div>
            <div class="value">{{attaque}}</div>
        </div>
        <div class="PV">
            <div class="attribut">Vitesse</div>
            <div class="value">{{vitesse}}</div>
        </div>
    </div>
</div>
